main{

    // sezione top
    .section-top{
        padding: 140px 0;

        .container{
            
            @include flex;
            
            .box {
                @include two-box;

            }

            .box.left{
                h1{
                    font-size: $lg_font;
                    margin-bottom: 20px;
                }

                p{
                    font-size: $md_font;
                    margin-bottom: 20px;
                }

                span{
                    color: $or_color;
                }
                
                a{
                    display: inline-block;
                    margin-top: 20px;

                    &:hover{
                        color: $link_background;
                    }
                }
            }
            
            .box.right{
                
                img{
                    width: 100%;
                }
            }
            
        }
    }
    
    // sezione centro A
    .section-center-a{
        background-color: $section_background;
        
        h2{
            margin: 70px 0;
        }

        .row{
            
            padding: 50px 0;
            text-align: center;

            .flex{
                
                @include flex;
                width: 100%;
                .box{
                    width: calc(100% / 3);

                    
                    img{
                        height: 100px;
                    }
                    
                }
            }

            .image{
                
                padding-top: 70px;
                img{
                    width: $image_small;
                }

            }

            
        }
        .row.top{

            border-bottom: 1px solid;
        }
        
    }

    // sezione centro B   
    .section-center-b {

        .row{
            @include flex;
            width: 100%;
            padding: 90px 0;

            .box{
                @include two-box;
                 
                h2,
                p,
                a{
                    font-size: $md_font;
                    margin-bottom: 30px;
                }

                a{
                    color: $link_background;
                    &:hover{
                        color: $link_hover;
                    }
                }

            }
        }

        .top,
        .center-b{
            
            .box.left {
            
               img {
                   width: $image_large;
                }
           }
            
            .box.right{
                margin-right: 140px;

                img {
                    width: $image_medium;
                    margin-top: 30px;
                }
           }
        }
            
        .center-a, 
        .bottom{
            
            .box.left {
                
                margin-left: 140px;
                img {
                    width: $image_medium;   
                    margin-top: 30px;             
                }
            
            }
            
            .box.right{
            
                img {
                    width: $image_large;
                }
                        
            }
        }
            
        
    }
       
    // sezione bassa
    .section-bottom{
        background-color: $section_background;
        padding: 70px 0;
        
        h1{
            margin-bottom: 70px;
        }
        
        h1, .box.bottom, a{
            text-align: center;
        }


        .box.top{

            background-color: $link_color;
            border-radius: 10px;
            width: 700px;
            margin: 0 auto;
            padding: 20px;
            
            p{
                margin-bottom: 20px;
            }

            .box.profil{

                div{
                    width: 300px;
                    display: inline-block;
                    vertical-align: middle;
                    

                    .top{
                       color: $link_background;
                    }
                }

                img{
                    width: 40px;
                    margin-right: 5px;
                    vertical-align: middle;
                }
            }

        }

        .box.bottom{
            margin-top: 70px;

            span{
                color: $or_color;
            }

            .link{
                margin-top: 20px;
                a{
                    &:hover{
                        color: $link_background;
                    }
                }

            }
        }
        
    }
}