main{

    .section-top{

        .container{

            @include flex;
    
            .box {
                @include two-box;
            }

        }
    }
   
    .section-center-a{
        background-color: $section_background;

        .row{

            .flex{

                @include flex;
                width: 100%;
                .box{
                    width: calc(100% / 3);
                }
            }
        }
    }

    .section-center-b{

        .box{
            @include two-box;
            // regole di debug
            min-height: 200px;
            // fine debug
        }
    }

    .section-bottom{
        background-color: $section_background;
        
    }
}