$section_background: #7f14d4; //y
$link_background: #4466d4; //y
$link_hover: #0e14ee; //y
$link_color: #fff;
$text_color: #040f0f; //y
$or_color: #bdb5af;

$lg_font: 50px; //grande
$ml_font: 30px; //medio grande
$md_font: 22px; // medio
$ms_font: 18; // medio - piccolo
$s_font: 11; //piccolo

$image_small: 25%;
$image_medium: 50%;
$image_large: 100%;