$section_background: #ffe7d2;
$link_background: #30488f;
$link_hover: #233569;
$link_color: #fff;
$text_color: #58402c;
$or_color: #bdb5af;

$lg_font: 50px; //grande
$ml_font: 30px; //medio grande
$md_font: 22px; // medio
$ms_font: 18; // medio - piccolo
$s_font: 11; //piccolo

$image_small: 25%;
$image_medium: 50%;
$image_large: 100%;