$section_color: #ffe7d2;
$link_color: #30488f;
$link_hover: #233569;
$text_color: #58402c;
$or_color: #bdb5af;

// $lg_font: ; //grande
// ml_font: ; //medio grande
// $md_font: 26px; // medio
// $ms_font: 26px; // medio - piccolo
// s_font: ; //piccolo