@import "partials/common";
@import "partials/variables";
@import "partials/header";
// @import "partials/nav";
@import "partials/main";
@import "partials/footer";

// regole generali
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: 'HarmoniaSansProCyr-SemiBd';
    color: $text_color;
}

a{
    text-decoration: none;
    color: $text_color;
}

.container{
    width: 1200px;
    margin: 0 auto;
    // regole di debug
    // border: 1px solid;
    // fine degug
}

 // regole di debug
//  .section-top,
//  .section-center-a,
//  .row,
//  .section-center-b,
//  .section-bottom,
//  .box {
//     @include debug;
// }

.button{
    background-color: $link_background;
    color: $link_color;
    border-radius: 10px;
    padding: 10px;
    display: inline-block
}

.button:hover{
    background-color: $link_hover;
}
// fine debug